<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" formControlName="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary">Log in</button>

</form>