.banner-container {
  width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
  overflow: hidden; /* Evita desbordamiento si la imagen es más grande */
}

.banner-container img {
  width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
}

.flex-container {
  min-width: 1200px; /* Ocupa el ancho total del contenedor padre */
}

.row {
  display: flex;
  width: 100%; /* Ocupa el ancho total del contenedor flex */
}

.column-40, .column-60 {
  padding: 10px; /* Espaciado interno para visualización */
}

.column-40 {
  flex: 0 0 40%; /* Ocupa el 40% del contenedor, no crece ni encoge */
}

.column-60 {
  flex: 0 0 60%; /* Ocupa el 60% del contenedor, no crece ni encoge */
}

/* Media queries para Tablet y Móvil */
@media (max-width: 1200px) {
  .column-40, .column-60 {
      flex: 0 0 100%; /* Cada columna ocupa el 100% en dispositivos más pequeños */
  }
  .row {
      flex-direction: column; /* Apila las columnas verticalmente en pantallas pequeñas */
  }
}

/* Media queries para Tablet */
@media (max-width: 1200px) and (min-width: 768px) {
  .flex-container {
    /* Si necesitas estilos específicos para tablets, colócalos aquí */
    min-width: 650px;
  }
}

/* Media queries para Móvil */
@media (max-width: 767px) {
  .flex-container {
    /* Si necesitas estilos específicos para móviles, colócalos aquí */
    min-width: 350px;
  }
}