<div class="flex-container">
  <div class="banner-container">
    <img src="./assets/banner.png" alt="Periodo de freeze">
  </div>
  <div class="row">
    <div class="column-40">
      <iframe width="100%" height="497"
        src="https://aod.eazybi.com/accounts/137071/embed/report/2538907?embed_token=g3z71p1i7x6eb13n4k45i5opc3qhov2sevg4ntzs8ktmgsfnvw8ym13krq68"></iframe>
    </div>
    <div class="column-60">
      <iframe width="100%" height="497"
        src="https://aod.eazybi.com/accounts/137071/embed/report/2591431?embed_token=xl2vpri5nc37z8b9sagynwnpfn9luueg8dr41dv1fb1tsqbmdvxijlhh618a"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="column-40">
      <iframe width="100%" height="671"
        src="https://aod.eazybi.com/accounts/137071/embed/report/2591310?embed_token=mx38jcaqf1ta14ctbun805vzmrpgr85p4x7u0u1k1mkyzmhq283cgmr161zr"></iframe>
    </div>
    <div class="column-60">
      <iframe width="100%" height="671"
        src="https://aod.eazybi.com/accounts/137071/embed/report/2591434?embed_token=d4ycbtpl01g73ets1msymni0fa2jg0uk98t5eankyprkvu4gcvqdgg5fx17u"></iframe>
    </div>
  </div>
</div>